Name:           nvmetcli
License:        Apache License 2.0
Group:          Applications/System
Summary:        Command line interface for the kernel NVMe nvmet
Version:        VERSION
Release:        1%{?dist}
URL:		https://github.com/Djarvur/go-nvmetcli
Source:         nvmetcli-%{version}.tar.gz
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-rpmroot
BuildArch:      %{_arch}
BuildRequires:  golang >= 1.21 systemd-units
Requires:	systemd
Requires(post): systemd
Requires(preun): systemd
Requires(postun): systemd

%description
This package contains the command line interface to the NVMe over Fabrics
nvmet in the Linux kernel.  It allows configuring the nvmet interactively
as well as saving / restoring the configuration to / from a json file.

%prep
%setup -q -n nvmetcli-%{version}

%build
export GOPATH=%{_builddir}/gopath
export GO111MODULE=on
go build -o nvmetcli ./cmd/nvmetcli

%install
rm -rf %{buildroot}
mkdir -p %{buildroot}%{_bindir}
mkdir -p %{buildroot}%{_sysconfdir}/nvmet
mkdir -p %{buildroot}%{_unitdir}
install -m 755 nvmetcli %{buildroot}%{_bindir}/nvmetcli
install -m 644 nvmet.service %{buildroot}%{_unitdir}/nvmet.service

%clean
rm -rf %{buildroot}

%post
%systemd_post nvmet.service

%preun
%systemd_preun nvmet.service

%postun
%systemd_postun_with_restart nvmet.service

%files
%defattr(-,root,root,-)
%dir %{_sysconfdir}/nvmet
%{_bindir}/nvmetcli
%{_unitdir}/nvmet.service
%doc COPYING README.md

%changelog
