Source: nvmetcli
Section: admin
Priority: optional
Maintainer: Djarvur <djarvur@example.com>
Build-Depends: debhelper(>= 8), golang-go (>= 1.21), dh-systemd (>= 1.5)
Standards-Version: 3.9.4
Homepage: https://github.com/Djarvur/go-nvmetcli

Package: nvmetcli
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line interface for the kernel NVMe target
 This package contains the command line interface to the NVMe over Fabrics
 target in the Linux kernel.  It allows configuring the target interactively
 as well as saving / restoring the configuration to / from a json file.
