#!/usr/bin/make -f

export DH_VERBOSE = 1
export GOPATH = $(CURDIR)/debian/gopath
export GO111MODULE = on

install_dir = $(CURDIR)/debian/nvmetcli

%:
	dh $@ --with systemd

override_dh_auto_build:
	go build -o nvmetcli ./cmd/nvmetcli

override_dh_auto_install:
	mkdir -p $(install_dir)/usr/sbin
	mkdir -p $(install_dir)/lib/systemd/system
	install -m 755 nvmetcli $(install_dir)/usr/sbin/nvmetcli
	install -m 644 nvmet.service $(install_dir)/lib/systemd/system/nvmet.service

override_dh_auto_clean:
	go clean -cache -testcache -modcache 2>/dev/null || true
	rm -f nvmetcli
